@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background: no-repeat linear-gradient(180deg, #615dad, #806ab9, #9f77c4, #bd86d0, #da95dc, #e8a5da, #f3b6d8, #ffc8da);
}

.main {
  max-width: 380px;
  text-align: center;
}

.main__img {
  display: flex;
}

.main__img img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.main__descr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 1.75rem;
  background-color: #283e50;
}

.main__title {
  font-size: 2.8rem;
  font-family: "Lobster", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.main__text {
  line-height: 1.35;
}

.main__btns {
  display: flex;
  flex-direction: column;
}

.main__btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.1rem 1rem;
  color: #ffffff;
}

.main__rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.main__start {
  background-color: #0197f6;
}

.main__rules:hover,
.game__btn--home:hover {
  background-color: #1cbb96;
  transition: ease .3s;
}

.main__start:hover,
.game__btn--restart:hover {
  background-color: #0090e9;
  transition: ease .3s;
}


/*HRA*/

.game {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
}

.game__menu--player {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.game__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.game__menu--player {
  display: flex;
}

.game__icon--player {
  padding-left: 5px;
}

.game__btn {
  border: none;
  border-radius: 5px 5px 5px 5px;
  padding: 0.8rem 0.8rem;
  margin-left: 5px;
  cursor: pointer;
}

.game__btn--home {
  background-color: #1fcca4;

}

.game__btn--restart {
  background-color: #0197f6;
}

.game__area {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #283e50;
  box-shadow: 16px 17px 18px -19px #283e50, 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.game__box {
  aspect-ratio: 1 / 1;
  width: 10%;
  border: 1px solid #283e50;
  text-decoration: none;
  margin: 0px;
  padding-block: 5px;
  background-color: rgba(250, 250, 250, 0.4);
}

.game__box:hover,
.game__box:focus {
  background-color: rgba(250, 250, 250, 0.6);
  transition: ease .4s;
}
